body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
.button {
  display: block;
  margin: auto;
  padding: 20px 45px;
  background-color: rgb(65, 65, 255);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 8px;
}
.button:hover {
  background-color: #3695fa;
  border-radius: 0px;
}
.k {
  display: block;
  background-color: darkgray;
  margin: 10px auto;
  padding: 15px;
  border-radius: 15px;
  border: none;
}
div {
  padding: 200px;
  background-color: rgba(71, 72, 78, 0.404);
  border-radius: 20px;
}
